@import "./base/norms";
@import "./base/typo";

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";

@import "./layout/header";
@import "./layout/footer";

@import "./components/buttons";
@import "./components/heart";

/* Structure Général */

h1{
    font-family: $title-font;
    font-size: 24px;
    font-weight: 500;
}
h2
{
    font-family: $text-font;
    font-size: 20px;
}

h3
{
    font-family: $text-font;
    font-weight: 500;
    font-size: 16px;
}

h4
{
    font-family: $text-font;
    font-weight: 600;
    font-size: 14px;
}
h5
{
    font-family: $text-font;
    font-weight: 400;
    font-size: 12px;
}

h6{
    font-family: $text-font;
    font-size: 14px;
    font-weight: 100;
}

p
{
font-family: $text-font;
font-size: 14px;
font-weight: 100;
}

/* Chargement de page */

.chargement {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.9);
    position: absolute;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disparition 0.3s 3s forwards;
    & .lettre{
        position: relative;
        font-family: $title-font;
        font-size: 50px;
        font-weight: 800;
        padding: 0px 5px 0px 5px;
        color: transparent;
        animation: loading 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    }
}

/* Animation chargement pages */

@keyframes loading{
    0%{
        background: $cd-bouton;
        background-clip: text;
    }
    50%{
        color: rgb(255, 255, 255, 0.5)
    }
    90%{
        color: rgb(255, 255, 255, 0.5)
    }
    100%{
        background: $cd-bouton;
        background-clip: text; 
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}

@keyframes disparition{
    100%{
        opacity: 0;
        z-index: -1;
    }
}

//**//
    

/* Localisation */

.location 
{
    display: flex;
    justify-content: center;
    background-color: $cd-background-location;
    padding: 10px 0px 10px 0px;
    &__form{
        display: flex;
        align-items: center;
        width: 30%;
        & .fa-location-dot{
            font-size: 0.7em;
        }
        & input{
            font-family: $text-font;
            font-size: 12px;
            font-weight: 400;
            color: black;
            border: none;
            background-color: $cd-background-location;
            margin-left: 13px;
            &:focus
            {
                outline: none;
            }
    } 
    }
}

/* Introduction */

.introduction
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: $cd-backgroud-introduction;

    & h2{
        margin-top: 22px;
        text-align: center;
        width: 70%;
      
    }
    & p{
        margin-top: 10px;
        text-align: center;
    }
    & button {
        margin: 20px 0px 20px 0px;
        padding: 12px 20px 12px 20px;
    }
}

/* Description fonctionnement */

.functioning
{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
    & h3{
        width: 100%;
        margin: 0px 0px 15px 20px;
    }
}

.case
{
    width: 95%;
    display:  flex;
    flex-direction: row;
    align-items: center;
    & p{
        border: solid 1px $cd-primary;
        padding: 2px 6px 2px 6px;
        font-size: 10px;
        border-radius: 50%;
        background-color: $cd-primary;
        color: white;
        position: relative;
        left: 1em;
    }

    &__bloc{
        @include border($cd-background-functioning);
        background: $cd-background-functioning;
        & i{
            @include icons(#786a6a)
        }
            &--highlight{
                @include border(rgba(147,86,220,0));
                background-color: rgba(147,86,220,0.1);
                & i{
                    @include icons($cd-primary)
                    }
            }
    }
}

/* Sélection restaurant*/

.selection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $cd-background-selection;
    margin-top: 50px;
    padding: 40px 0px 40px 0px;
    & h3 {
        width: 90%;
        margin-bottom: 20px;
    }
}

.selection__card
{
    width: 90%;
    @include card;
    margin: 8px 0px 8px 0px;
    position: relative;
    &__img{
        & img{
        width: 100%;
        height: 130px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    }
}

.selection__card__img__blocnew
{
    @include new;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 80%; left: 72%;
    & p{
        font-weight: 500;
        color: $cd-text-new;
    }
}
.selection__card__descriptions
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
    padding: 10px 0px 10px 0px;
    & p{
        padding: 6px 0px 6px 0px;
    }    
    
}


.selection__card__heart{
    margin-right: 35px;
    margin-bottom: 40px;
}


///////* Page des menus *//////// 

/* Image menu */

.menu__img{
    & img {
        @include img__menu__size;
    }
}

/* Sélection des plats */



.selection__lunch
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
    position: relative;
    margin-top: -30px;

    border: solid 1px $cd-background-selection;
    background-color: $cd-background-selection;
    border-radius: 30px 30px 0px 0px;
}

.selection__lunch__name
{
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    & h1{
        padding-right: 30px;
    }
    & i{
        font-size: 1.4em;
    } 
}

.selection__lunch__heart{
    margin-right: 25px;
    margin-bottom: 20px;
}


.food__offer
{
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: 15px 0px 15px 0px;
    & h2{
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 5px;
    }
    & .line{
        width: 14%;
        margin-bottom: 6px;
        border-bottom: solid 3px $cd-tertiary;
    }
}

.food__offer__case{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 0px;
    

}

.food__offer__meals
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include boderoffers;
    margin: 10px 0px 10px 0px;
    opacity: 0;
    transform: translateY(10px);
    overflow: hidden;
    cursor: pointer;
}

.food__offer__text{

    display: flex;
    flex-direction: column;
    padding: 6px 0px 6px 0px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    & h3{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & h6{
        margin-top: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.food__offer__price{
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 0px 0px;
    transform: translateX(63px);
    & p{
        margin-top: 25px;
        margin-right: 10px;
    }
}

.button__order
{
    margin: 15px 0px 20px 0px;
    & button{
        padding: 15px 50px 15px 50px;
    }
}

.food__offer__choice{
    
    display: flex;
    align-items: center;
    border: solid 1px $cd-tertiary;
    background-color: $cd-tertiary;
    border-radius: 0px 10px 10px 0px;
    padding: 16px 15px 16px 15px;

    & i{
        font-size: 20px;
        color: #FFF;
        transform: rotate(180deg);
    }
}



/* Animations */

/////* Apparitions des menus *////////
@keyframes apparition {
    100%{
     opacity: 1;
     transform: none;
    }
 } 

 .food__offer__list > div:nth-child(1)
{
    animation: apparition 0.8s 0.2s ease-out forwards;
}
.food__offer__list > div:nth-child(2)
{
    animation: apparition 0.8s 0.4s ease-out forwards;
}
.food__offer__list > div:nth-child(3)
{
    animation: apparition 0.8s 0.6s ease-out forwards;
}


/* Animation validation */

@keyframes validate {
    from{
        transform: translateX(63px);
    }
    to{
        transform: translateX(10px);
    }
}

@keyframes validaterotate {
    0%{
        transform: rotate(180deg);    
    }
     100%{
        transform: rotate(360deg);
    }
}

.food__offer__meals:hover >.food__offer__price {
    animation: validate 0.5s ease-in-out both;
}

.food__offer__meals:hover > .food__offer__price > .food__offer__choice >i{
    animation: validaterotate 0.5s ease-in-out both;
}


////**///////



