@import "./base/norms";
@import "./base/typo";

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";

@import "./layout/header";
@import "./layout/footer";

@import "./components/buttons"
;

h1{
    font-family: $title-font;
    font-size: 22px;
    font-weight: 500;
}
h2
{
font-family: $text-font;
font-size: 20px;
}

h3
{
font-family: $text-font;
font-weight: 500;
font-size: 18px;
}

h4
{
    font-family: $text-font;
    font-weight: 600;
    font-size: 14px;
}
h5
{
    font-family: $text-font;
    font-weight: 400;
    font-size: 12px;
}

p
{
font-family: $text-font;
font-size: 14px;
font-weight: 100;
}

main{
    position: relative;
}

/* Chargement */

/*.chargement {
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    @include chargement;
}
*/

/* Localisation */

.location 
{
    display: flex;
    justify-content: center;
    background-color: $cd-background-location;
    padding: 10px 0px 10px 0px;
    &__form{
        display: flex;
        align-items: center;
        width: 30%;
        & .fa-location-dot{
            font-size: 0.7em;
        }
        & input{
            font-family: $text-font;
            font-size: 12px;
            font-weight: 400;
            color: black;
            border: none;
            background-color: $cd-background-location;
            margin-left: 13px;
            &:focus
            {
                outline: none;
            }
    } 
    }
}

/* Introduction */

.introduction
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: $cd-backgroud-introduction;

    & h2{
        margin-top: 22px;
        text-align: center;
        width: 70%;
      
    }
    & p{
        margin-top: 10px;
        text-align: center;
    }
    & button {
        margin: 20px 0px 20px 0px;
        padding: 12px 20px 12px 20px;
    }
}

/* Description fonctionnement */
.functioning
{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
    & h3{
        width: 100%;
        margin: 0px 0px 15px 20px;
    }
}

.case
{
    width: 95%;
    display:  flex;
    flex-direction: row;
    align-items: center;
    & p{
        border: solid 1px $cd-primary;
        padding: 2px 6px 2px 6px;
        font-size: 10px;
        border-radius: 50%;
        background-color: $cd-primary;
        color: white;
        position: relative;
        left: 1em;
    }

    &__bloc{
        @include border($cd-background-functioning);
        background: $cd-background-functioning;
        & i{
            @include icons(#786a6a)
        }
            &--highlight{
                @include border(rgba(147,86,220,0.2));
                background-color: rgba(147,86,220,0.2);
                & i{
                    @include icons($cd-primary)
                    }
            }
    }
}

/* Sélection restaurant*/

.selection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $cd-background-selection;
    margin-top: 50px;
    padding: 40px 0px 40px 0px;
    & h3 {
        width: 90%;
        margin-bottom: 20px;
    }
}

.selection__card
{
    width: 90%;
    @include card;
    margin: 8px 0px 8px 0px;
    position: relative;
    &__img{
        & img{
        width: 100%;
        height: 130px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    }
}

.selection__card__img__blocnew
{
    @include new;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 80%; left: 72%;
    & p{
        font-weight: 500;
        color: $cd-text-new;
    }
}
.selection__card__descriptions
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
    padding: 10px 0px 10px 0px;
    & p{
        padding: 6px 0px 6px 0px;
    }
    & .fa-heart{
        color: black;
        background-color: #FFF;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 1.5em;
        stroke-width: 5em;
        &::before{
            content: "<i class="fa-regular fa-heart"></i>";
            font-weight: bold;
        }
        
    }
}

/* Image menu */

.menu__img{
    & img {
        @include img__menu__size;
    }
}

/* Sélection des plats */

.selection__lunch
{
    
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
    bottom: 20px;

    border: solid 1px $cd-background-selection;
    background-color: $cd-background-selection;
    border-radius: 20px;
}

.selection__lunch__name
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}