/***** Responsive Desktop *****/
    


    @media screen and (min-width: 991.9px)
    {
        /* Page d'acceuil */

        .functioning__case{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0px 10px 0px 10px;
        }

        .case{
            margin: 0px 6px 0px 6px;
        }

        .selection__case{
            
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .selection__card{
            width: 35%;
            
        }

        .selection__card__img__blocnew{
            left: 75%;
        }

        /* Page restaurant */

       .food__case{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
       }

       .food__offer{
        width: 28%;
       }
    }