footer{
    background-color: $cd-background-footer;
    padding: 25px 0px 25px 0px;
    & a{
        margin-bottom: 8px;
        @include footertext;
    }
}

.footer__text{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    & p{
        font-family: $title-font;
        color: #FFFFFF;
        font-size: 18px;
    }
    & img{
        width: 6em;
        color: #FFFFFF;
    }
}

.footer__offer{
    margin: 15px 0px 8px 0px;
    & i{
        @include footericons;
    }
    & a{
        @include footertext;
    }
}

.footer__partner{
    margin-bottom: 8px;
    & i{
        @include footericons;
    }
    & a{
        @include footertext;
    }
}

