header
{
    display: flex;
    justify-content: center;
    padding: 18px 0px 10px 0px;
    img{
        @include iconsize;
    }
}

.header__menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 18px 0px 10px 0px;
    & img{
        @include iconsize;
    }
    & a{
        position: absolute;
        left: 0;
        & i{
            margin-left: 20px;
            color: $cd-standard;
        }      
    }
}