/***** Responsive Tablette *****/
    /****       1400-992        *****/

    @media screen and (min-width: 991.9px)
    {
        .functioning__case{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0px 10px 0px 10px;
        }

        .case{
            margin: 0px 6px 0px 6px;
        }

        .selection__case{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .selection__card{
            width: 45%;
        }

    }