.heart{
    & i{
        position: absolute;
        font-size: 1.4em; 
    }
    & .heart--complete{
        opacity: 0;

        &:hover{
            opacity: 1;
            color: transparent;
            background-image: $cd-bouton;
            background-clip: text;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
        }
    }

}